# Template Configuration
# logs config
# where logs storage, example: /logs/api.log
LOG_PATH=
# example: INFO | DEBUG | WARNING | ERROR | CRITICAL
LOG_LEVEL=
# query result limit, example: 1000
MAX_QUERY_LIMIT=

# database config
# example: http://example.com:5432
POSTGRES_HOST=
# Integer value, example: 5432
POSTGRES_PORT=
# database name, example: pg
POSTGRES_DATABASE=pg
# example: postgres
POSTGRES_USER=
# example: postgres
POSTGRES_PASSWORD=

# redis config
# The redis host of the application(only domain/ip, do not support ipv6 address), example: 127.0.0.1
REDIS_HOST=
# The redis port of the application, default is 6379
REDIS_PORT=6379
# The redis db of the application, default is 0, example: 0-15
REDIS_DB=0
# The redis username of the application, default is empty
REDIS_USER=
# The redis password of the application, default is empty
REDIS_PASSWORD=
# The max connections of the redis
REDIS_MAX_CONNECTIONS=